*{ 
   box-sizing: border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
	
body{
    margin: 0;
}

ul, ol{
   padding: 0;
}

li{
   list-style-type: none; 
}

a{ 
  text-decoration: none; color: #000; 
}

.logo{
    width: 100px;
    border-radius: 180px;
    margin: 10px 0;
    order: -1;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 88);
}

.buscador{
    display: flex;
    justify-content: space-between;
}

.barra{
    display: flex;
    justify-content: space-between;
}

.botones{
    padding: 10px;
    color: white;
}

.footer{
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lema{
    color: white;
    font-style: italic;
}

.caja_nombres{
    display: flex;
    justify-content: space-between;
}

.nombres{
    color: white;
    margin: 10px;
}

.caja_sidebar{
    border-right: 3px solid rgb(0, 0, 88);
    height: 100%;
    width: 20%;
}

.lista_categorias{
    display: flex;
    flex-direction: column;
}

.m_log{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: red;
    border-radius: 15px;
}

.login_b{
    padding: 10px 30%;
    color: white;
}

.titulo_log{
    color: white;
}

.link_registro{
    color: white;
    padding: 10px 0;
}

.ingresar{
    background-color: rgb(255, 145, 0);
    padding: 10px 30%;
    border-radius: 15px;
    font-weight: bold;
}