*{ 
   box-sizing: border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
	
body{
    margin: 0;
}

ul, ol{
   padding: 0;
}

li{
   list-style-type: none; 
}

a{ 
  text-decoration: none; color: #000; 
}

.logo{
    width: 100px;
    border-radius: 180px;
    margin: 10px 0;
    order: -1;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 88);
}

.buscador{
    display: flex;
    justify-content: space-between;
}

.barra{
    display: flex;
    justify-content: space-between;
}

.botones{
    padding: 10px;
    color: white;
}

.footer{
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lema{
    color: white;
    font-style: italic;
}

.caja_nombres{
    display: flex;
    justify-content: space-between;
}

.nombres{
    color: white;
    margin: 10px;
}

.caja_sidebar{
    border-right: 3px solid rgb(0, 0, 88);
    height: 100%;
    width: 20%;
}

.lista_categorias{
    display: flex;
    flex-direction: column;
}

.m_log{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72%;
    background-color: red;
    border-radius: 15px;
}

.login_b{
    padding: 10px 30%;
    color: white;
}

.titulo_log{
    color: white;
}

.link_registro{
    color: white;
    padding: 10px 0;
}

.ingresar{
    background-color: rgb(255, 145, 0);
    padding: 10px 30%;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px
}

.boton_log{
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: bold;
}

.m_reg{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_b{
    padding: 10px 30%;
    color: white;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92%;
    background-color: red;
    border-radius: 15px;
}

.register_boton{
    background-color: rgb(255, 145, 0);
    padding: 10px 30%;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px
}

.boton_reg{
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: bold;
}

.titulo_reg{
    color: white;
}

.link_reg{
    color: white;
    padding: 10px 0;
}

.condiciones{
    color: white;
    margin-bottom: 18px;
}

.productos {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
 
}
.producto {
  background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: left;
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px
}

.producto img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.producto h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.producto p {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}


.producto a {
  display: inline-block;
  color: rgb(0, 166, 255);
  font-weight: bold;
  font-size: 12px;
  margin-top: 12px;
}


.Imagenproducto img {
  width: 400px; 
  height: auto;
  display: flex; 
}


.menu h2{

    font-size: 30px;
    color: white;
}

.menu h1{  
    font-size: 30px;
    color: rgb(255, 255, 255);
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 147, 147);
    border-radius: 9px;
    padding: 20px;
    text-align: left;
    width: 970px;
    height: 100%;
    flex-direction: column;
    margin: 20px 0;
     font-size: 30px;
    color: white;

}

.ppp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info1producto {
  background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.Tags ul {
    font-size: 30px;
    color: rgb(0, 0, 88);

}

#estre{
    color: goldenrod;
}

.Reseñas {
background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  width: 925px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;

}