*{ 
   box-sizing: border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
	
body {
  margin: 0;
}

ul, ol{
  padding: 0;
}

li{
   list-style-type: none; 
}

a{ 
  text-decoration: none; color: #000; 
}

.logo{
    width: 100px;
    border-radius: 180px;
    margin: 10px 0;
    order: -1;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 88);
    width: 100%;
}

.buscador{
  display: flex;
  justify-content: space-between;
}

.buscador input{
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
}

.buscador button{
  padding: 6px 12px;
  font-size: 14px;
  width: 70px;
}

.barra{
    display: flex;
    justify-content: space-between;
}

.botones{
    padding: 10px;
    color: white;
}

.footer{
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.lema{
    color: white;
    font-style: italic;
}

.caja_nombres{
    display: flex;
    justify-content: space-between;
}

.nombres{
    color: white;
    margin: 10px;
}

.lista_categorias{
    display: flex;
    flex-direction: column;
}

.m_log{
    height: 72vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 52vh;
    background-color: red;
    border-radius: 15px;
}

.login_b{
    padding: 10px 30%;
    color: white;
}

.titulo_log{
    color: white;
}

.link_registro{
    color: white;
    padding: 10px 0;
}

.ingresar{
    background-color: rgb(255, 145, 0);
    padding: 10px 30%;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px
}

.boton_log{
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: bold;
}

.m_reg{
    height: 72vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_b{
    padding: 10px 30%;
    color: white;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 67vh;
    background-color: red;
    border-radius: 15px;
}

.register_boton{
    background-color: rgb(255, 145, 0);
    padding: 10px 30%;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px
}

.boton_reg{
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: bold;
}

.titulo_reg{
    color: white;
}

.link_reg{
    color: white;
    padding: 10px 0;
}

.condiciones{
    color: white;
    margin-bottom: 18px;
}

.productos {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
 
}

.productos1 {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
 
}
.producto {
  background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: left;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px
}

.producto img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.producto h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.producto p {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}


.producto a {
  display: inline-block;
  color: rgb(0, 166, 255);
  font-weight: bold;
  font-size: 12px;
  margin-top: 12px;
}

.layout {
  display: flex;
  flex-direction: row;
}

.caja_sidebar{
  width: 30%;         
  padding: 10px;
  font-size: large;
}

.caja_sidebarr{
  width: 15%;         
  padding: 10px;
  font-size: large;
}


.con{
  width: 100%;
  padding: 10px 20px;
}

.noResults{
  display: none;
}

.Imagenproducto img {
  width: 400px; 
  height: auto;
  display: flex; 
}

.menu h2{
    font-size: 50px;
    color: white;
}

.menu1 h2{
    font-size: 50px;
    color: white;
}

.menu2 h2{
    font-size: 50px;
    color: white;
}

.menu h1{  
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.menu1 h1{  
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.menu2 h1{  
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 88);
    border-radius: 9px;
    padding: 20px;
    text-align: left;
    flex-direction: column;
    margin: 20px 0;
    font-size: 30px;
    color: white;
    width: 60vw;
}

.menu1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 88);
    border-radius: 9px;
    padding: 20px;
    text-align: left;
    flex-direction: column;
    margin: 20px 0;
    font-size: 30px;
    color: white;
}

.menu2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding: 20px;
    text-align: left;
    flex-direction: column;
    margin: 20px 0;
    font-size: 30px;
    color: rgb(0, 0, 88);
}

.ppp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#reseñ{
  color: rgb(0, 0, 88);
}

.Info1producto {
  background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.Tags ul {
    font-size: 30px;
    color: rgb(0, 0, 88);

}

.rating{
    color: yellow;
}


.Reseñas {
  background-color: rgb(0, 0, 88);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  width: 925px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.Info2{
  color: black;
}

@media(max-width: 430px){
  .layout {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .caja_sidebar{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .caja_sidebarr{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .header{
    flex-direction: column;
    padding: 15px;
  }
  
  .buscador input{
    width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    }

  .buscador button{
    padding: 6px 12px;
    font-size: 14px;
    width: 100%;
    }

  .barra{
    flex-direction: column;
    align-items: center;
  }

  .buscador{
    width: 100%;
    justify-content: center;
  }

  .footer{
    flex-direction: column;
    text-align: center;
  }

  .Info1producto{
    width: 80%;
    margin: 0, 20px; 
    text-align: center;
    padding: 15px;
  }

  .Info2{
    margin: 0, 20px; 
    text-align: start;
    padding: 15px;
  }

  .Reseñas{
    width: 80%;
    margin: 0, 20px;
    padding: 15px;
    height: auto;
  }

  .data{
    color: white;
  }

  .menu{
    background-color: white;
    color: black;
    border: none;
  }

  .menu1{
    background-color: white;
    color: black;
    border: none;
  }

  .menu2{
    background-color: white;
    color: black;
    border: none;
  }

  .menu img{
    width: 100%;
  }

  .menu1 img{
    width: 100%;
  }

  .menu2 img{
    width: 100%;
  }

  .container{
    text-align: center;
  }
}